.hero-section-row{
    width: 100%;
    align-items: center;
    text-align: center;
    height: 100vh;
    overflow: hidden;
}
.heading-text {
    font-size: 5vmax !important;
    font-optical-sizing: auto;
    letter-spacing: 2px;
    color: rgb(38, 41, 43) !important;
  }
  
  .sub-heading-text {
    font-size: 1.2vmax;
    color: #3f3f3f !important;
  }
  
  .hero-section-col{
    position: absolute;
    left: 55%;
  }
  .hero-section-btn{
    background-color: #b4e061;
    border: none;
    margin-top: 1vmax;
  }
  .hero-section-btn:hover{
    background-color: #89b33b !important;
    color: #000 !important;
  }
  .nth-col{
    background-color: rgba(245, 249, 251, 0.505);
    padding: 2vmax;
  }


  /* Responsive */
  @media screen and (max-width: 1000px) {
    .hero-section-row{
      height: auto;
    }
  }
  
  @media screen and (max-width: 769px) {
    .heading-text {
      font-size: 4vmax !important;
    }
    .sub-heading-text {
      font-size: 1.2vmax;
    }
  }

  @media screen and (max-width: 600px) {
    .heading-text {
      font-size: 3vmax !important;
    }
  }
  @media screen and (max-width: 426px) {
    .sub-heading-text{
      font-size: 1.3vmax;
    }
    #logo{
      width: 70px !important;
    }
    .hero-section-btn{
      visibility: hidden;
    }
  }
  @media screen and (max-width: 321px) {
    .sub-heading-text{
      font-size: 1.3vmax;
    }
    #logo{
      width: 50px !important;
    }
  }
  