.reasons-desp-text{
    font-size: 1.5vmax !important;
}
.reason-flex-box{
    margin: 2vmax auto;
    width: 80%;
    border-radius: 200px;
    padding: 2vmax 4vmax;
}
.reasons-img{
    border-radius: 500px;
}
.reason-number{
    color: rgb(2, 61, 42) !important;
}

/* Responsive */

@media screen and (max-width: 426px) {
    .reasons-desp-text {
        font-size: 1.2vmax !important;
    }
}
@media screen and (max-width: 321px) {
    .reasons-desp-text {
        font-size: 1.1vmax !important;
    }
}