.reasons-desp-text{
    font-size: 1.5vmax !important;
}
.reason-flex-box{
    margin: 2vmax auto;
    width: 80%;
    border-radius: 200px;
    padding: 2vmax 4vmax;
}
.reasons-img{
    border-radius: 500px;
}
.reason-number{
    color: rgb(2, 61, 42) !important;
}