.services-col{
    padding: 2vmax;
    border-radius: 10px;
    margin: 8vmax 1vmax 2vmax 1vmax;
    height: 20vmax;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.services-secondary-text{
    font-size: 1vmax;
    margin-top: .6vmax;
    color: #000 !important;
}
.services-icons{
    position: absolute;
    left: 50%;
    bottom: 10%;
    border-radius: 100px;
    border: none;
}