.video-tag {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    z-index: -10;
  }
  
  .heading-overlay {
    padding: 5vmax 6vmax;
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .heading-text {
    font-size: 5vmax !important;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    letter-spacing: 2px;
    color: aliceblue !important;
  }
  
  .sub-heading-text {
    font-size: 1.2vmax;
    color: #888 !important;
  }
  
  .nth-col{
    background-color: rgba(245, 249, 251, 0.505);
    padding: 2vmax;
  }
  .tech-stack-row{
    width: 60%;
    margin: auto;
  }
  .tech-stack-col{
    text-align: center;
    margin: .6vmax auto;
    border-radius: 16px;
  }
  
  @media screen and (max-width: 768px) {
    .video-tag {
      max-width: 100%;
      height: auto;
    }
  
    .heading-overlay {
      padding: 2vmax;
    }
  
    .heading-text {
      font-size: 4vmax !important;
    }
  
    .sub-heading-text {
      font-size: 1vmax;
    }
  }

  @media screen and (max-width: 600px) {
    .heading-text {
      font-size: 3vmax !important;
    }
    .heading-overlay {
      padding: 3vmax 4vmax;
      width: 60%;
    }
  }
  @media screen and (max-width: 490px) {
    .heading-text {
      font-size: 2vmax !important;
    }
    .heading-overlay {
      padding: 2vmax 3vmax;
      width: 40%;
    }
  }
  