@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;1,300&display=swap');

*{
  margin: 0;
  padding: 0;
  -webkit-user-select: none; 
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  background: #222; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #303030; 
}

.primary-text-heading{
  font-family: "Jost", sans-serif; 
  font-size: 1.9vmax !important;
  color: #2c3c63 !important;
}
.secondary-text-heading{
  font-size: 2vmax !important;
  font-family: "Jost", sans-serif; 
  text-align: center;
}

/* Global Glassmorphism Effect */
.glassmorphism-effect-dark {
  background: rgba(0, 0, 0, 0.692);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(16.5px);
  -webkit-backdrop-filter: blur(16.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.glassmorphism-effect-light {
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 8.5px );
  -webkit-backdrop-filter: blur( 8.5px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.span{
  width: 30px;
  height: 30px;
  position: absolute;
  filter: blur(45px);
  border-radius: 100px;
  padding: 10vmax;
}

#span1{
  background-color: #93c73481;
  animation: moveRight 4s linear infinite, moveLeft 4s linear infinite; 
}
#span2{
  background-color: #51618570;
  top: 50%;
  animation: moveRight 5s linear infinite, moveLeft 5s linear infinite; 
}
#span3{
  background-color: #6b603b70;
  right: 5%;
  bottom: -10%;
  animation: moveRight 5.6s linear infinite, moveLeft 5.6s linear infinite; 
}

/* Animations */
@keyframes moveRight {
  0% { left: 0; }
  50% { left: calc(100% - 35px); }
  100% { left: 0; }
}

@keyframes moveLeft {
  0% { left: calc(80% - 35px); }
  50% { left: 0; }
  100% { left: calc(80% - 35px); }
}